---
import Logo from "./Logo.astro";
import MenuNavbar from "../Atomic/MenuNavbar.astro";
import DesktopNavbar from "../Atomic/DesktopNavbar.astro";
import SecondNavbar from "../Atomic/SecondNavbar.astro";
import AnnounmentNavbar from "../Atomic/AnnounmentNavbar.astro";
---

<header 
    class="fixed top-0 w-full h-28 items-center justify-center z-40"
>
    <AnnounmentNavbar />
    <div 
        id="landing-header"
        class="h-14 px-8 flex items-center justify-between font-medium"
    >
        <div class="flex flex-grow basis-0">
            <Logo />
        </div>

        <DesktopNavbar />

        <SecondNavbar />
    </div>
    
    <!-- Menu Navbar  -->
    <MenuNavbar />

    <!-- Box para la animiacion de la barra -->
    <div
        id="menu-backdrop"
        class="absolute bg-black/5 backdrop-blur-lg rounded-lg translate-x-[var(--left)] translate-y-[var(--top)] left-0 top-0 w-[var(--width)] h-[var(--height)] transition-transform duration-500 ease-in-out opacity-0 -z-10"/>
</header>
<!-- Animtaion from navbar -->
<script>
    const listItem = document.querySelectorAll('#landing-header li')
    const menuBackdrop = document.getElementById('menu-backdrop') as HTMLElement

    listItem.forEach(item => {
        item.addEventListener('mouseenter', () => {
            const { left, top, width, height } = item.getBoundingClientRect()
           
            menuBackdrop.style.setProperty("--left", `${left}px`)
            menuBackdrop.style.setProperty("--top", `${top}px`)
            menuBackdrop.style.setProperty("--width", `${width}px`)
            menuBackdrop.style.setProperty("--height", `${height}px`)
            menuBackdrop.style.opacity = "1"
            menuBackdrop.style.visibility = "visible"
        })
        
        item.addEventListener("mouseleave", () => {
            menuBackdrop.style.opacity = "0"
            menuBackdrop.style.visibility = "hidden"            
        })
    })
</script>
<!-- Intersection Observer -->
<script>
    const $header = document.getElementById('landing-header') as HTMLElement    
    const observeOptions = {
        root: null,
        rootMargin: '0px',
        threshold: 0.9
    }
    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            const { isIntersecting} = entry
            if (isIntersecting) {
                const color = entry.target.getAttribute('data-header-color')
                $header.style.color = color
            }
        }
    )}, observeOptions)
    const $sections = document.querySelectorAll("[data-landing-section]")
    $sections.forEach(section => observer.observe(section))
</script>