---
import Logo from "./Logo.astro";
import MenuNavbar from "./MenuNavbar.astro";
---

<header 
    class="fixed top-0 w-full items-center justify-center z-40"
>
    <div class="p-4 w-full text-center text-xs md:before:text-sm bg-white shadow-sm">
        <p>$7,500 tax credit available for all new Model 3 and Model Y vehicles.  
            <a 
            class="underline underline-offset-2 "
            href="#">Learn More						
        </a> 
    </p>
    </div>
    <div 
        id="landing-header"
        class="py-2 pl-10 pr-5 flex items-center justify-between font-medium"
    >
        <div class="flex flex-grow basis-0">
            <Logo />
        </div>
        <nav class="max-xl:hidden">
            <ul class="flex text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:transition-colors [&>li>a]:duration-500">
                <li><a href="#">Model S</a></li>
                <li><a href="#">Model 3</a></li>
                <li><a href="#">Model X</a></li>
                <li><a href="#">Model Y</a></li>
                <li><a href="#">Solar Roof</a></li>
                <li><a href="#">Solar Panels</a></li>
                <li><a href="#">Powerwall</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="flex text-sm flex-grow basis-0 justify-end [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2  [&>li>a]:transition-colors [&>li>a]:duration-500">
                <li class="max-xl:hidden"><a href="#">Shop</a></li>
                <li class="max-xl:hidden"><a href="#">Account</a></li>
                <li 
                    class="max-xl:bg-black/5 max-xl:backdrop-blur-lg max-xl:rounded-lg"
                    data-open-modal
                >
                    <a href="#">Menu</a></li>
            </ul>
        </nav>
    </div>
    
    <MenuNavbar />
<!-- Animtaion from navbar -->
<script>
    const listItem = document.querySelectorAll('#landing-header li')
    const menuBackdrop = document.getElementById('menu-backdrop') as HTMLElement

    listItem.forEach(item => {
        item.addEventListener('mouseenter', () => {
            const { left, top, width, height } = item.getBoundingClientRect()
           
            menuBackdrop.style.setProperty("--left", `${left}px`)
            menuBackdrop.style.setProperty("--top", `${top}px`)
            menuBackdrop.style.setProperty("--width", `${width}px`)
            menuBackdrop.style.setProperty("--height", `${height}px`)
            menuBackdrop.style.opacity = "1"
            menuBackdrop.style.visibility = "visible"
        })
        
        item.addEventListener("mouseleave", () => {
            menuBackdrop.style.opacity = "0"
            menuBackdrop.style.visibility = "hidden"            
        })
    })
</script>
<!-- Intersection Observer -->
<script>
    const $header = document.getElementById('landing-header') as HTMLElement    
    const observeOptions = {
        root: null,
        rootMargin: '0px',
        threshold: 0.9
    }
    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            const { isIntersecting} = entry
            if (isIntersecting) {
                const color = entry.target.getAttribute('data-header-color')
                $header.style.color = color
            }
        }
    )}, observeOptions)
    const $sections = document.querySelectorAll("[data-landing-section]")
    $sections.forEach(section => observer.observe(section))
</script>