<div class="p-4 w-full text-center text-xs md:text-sm bg-white shadow-sm">
    <p>$7,500 tax credit available for all new Model 3 and Model Y vehicles.  
        <a 
            class="underline underline-offset-2 "
            href="#">Learn More						
        </a> 
    </p>
</div>