---
export interface Props {
    btnName: string
    txtColor: string
    bgColor: string
    hovertxtColor?: string
    hoverbgColor?: string
    borderColor?: string
    opacity?: string
}
const { 
    btnName,
    txtColor,
    bgColor,
    hovertxtColor = bgColor,
    hoverbgColor = txtColor,
    borderColor = 'transparent',
    opacity = '.70',
} = Astro.props
---
<div class="actionBtn border-[3px] backdrop-blur-sm text-sm rounded font-medium px-20 py-[6px] inline-block transition-colors duration-300 cursor-pointer">
    <a 
        class="textBtn"
        href="#"
    >
        {btnName}
    </a>
</div>

<style define:vars={{txtColor, bgColor, hoverbgColor, hovertxtColor, borderColor, opacity}}>
    .actionBtn {
        border-color: var(--borderColor);
        background: var(--bgColor);
        opacity: var(--opacity);
    }
    .actionBtn:hover {
        background: var(--hoverbgColor);
    }
    .textBtn {
        color: var(--txtColor);
    }
    .actionBtn:hover .textBtn {
        color: var(--hovertxtColor);        
    }
</style>