<dialog
        data-modal
        aria-label="menu navbar"
        class="w-80 h-screen absolute top-0 bottom-auto left-auto translate-x-80 p-0 pb-12 bg-white overflow-hidden scroll-smooth opacit-0 transition-all duration-300 ease-linear"
    >
        <div class="sticky top-0 w-full h-[72px] flex flex-row-reverse justify-between p-4 pl-12 z-10 open:opacity-100 transition-all duration-500">
            <button 
                class="w-10 h-10 p-2 flex justify-center items-center rounded-lg cursor-pointer hover:bg-black/5 transition-colors duration-300"
                data-close-modal
                aria-label="CLose Modal"
                type="button"
            >
                <svg 
                    class="w-6 h-6"                     
                    xmlns="http://www.w3.org/2000/svg">
                        <path 
                            d="M18.53 17.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.748.748 0 0 1-1.06 0 .75.75 0 0 1 0-1.06L10.94 12 5.47 6.53a.75.75 0 1 1 1.06-1.06L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47z" 
                            fill="black">
                        </path>
                </svg>
            </button>
        </div>
        <nav class="w-full h-screen pt-1 pb-[50vh] px-8 overflow-y-auto">
            <ul class="flex flex-col gap-1 text-sm font-medium [&>li]:rounded-sm [&>li]:w-full [&>li>a]:w-full [&>li]:p-2 [&>li>]:pb-1 hover:[&>li]:bg-black/5 [&>li]:cursor-pointer [&>li]:transition-colors [&>li]:duration-300">   
                <li class="xl:hidden"><a href="#">Model S</a></li>
                <li class="xl:hidden"><a href="#">Model 3</a></li>
                <li class="xl:hidden"><a href="#">Model X</a></li>
                <li class="xl:hidden"><a href="#">Model Y</a></li>
                <li class="xl:hidden"><a href="#">Solar Roof</a></li>
                <li class="xl:hidden"><a href="#">Solar Panels</a></li>
                <li class="xl:hidden"><a href="#">Powerwall</a></li>
                <li><a href="#">Existing Inventory</a></li>
                <li><a href="#">Used Inventory</a></li>
                <li><a href="#">Trade-IN</a></li>
                <li><a href="#">Demo Drive</a></li>
                <li><a href="#">Insurance</a></li>
                <li><a href="#">Fleet</a></li>
                <li><a href="#">Cybertruck</a></li>
                <li><a href="#">Roadster</a></li>
                <li><a href="#">Semi</a></li>
                <li><a href="#">Charging</a></li>
                <li><a href="#">Commercial Energy</a></li>
                <li><a href="#">Utilities</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Find Us</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li>
                    <div class="w-full h-14 flex flex-row p-0 m-0">
                        <svg 
                            class="mt-2 ml-2 mb-6 pb-px w-6 h-6" 
                            viewBox="0 0 24 24" 
                            xmlns="http://www.w3.org/2000/svg">
                                <path 
                                    d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10ZM9.254 20.047a8.147 8.147 0 0 1-.768-1.378c-.404-.91-.722-1.985-.935-3.169h-3.3a8.526 8.526 0 0 0 5.003 4.547Zm.603-1.988c.336.757.718 1.324 1.103 1.69.382.364.732.501 1.04.501.308 0 .658-.137 1.04-.5.385-.367.767-.934 1.103-1.69.321-.723.588-1.59.78-2.56H9.076c.192.97.459 1.837.78 2.56ZM8.75 12c0 .691.036 1.36.103 2h6.294c.067-.64.103-1.309.103-2 0-.691-.036-1.36-.103-2H8.853c-.067.64-.103 1.309-.103 2Zm-1.405-2H3.737a8.522 8.522 0 0 0-.237 2c0 .689.082 1.359.237 2h3.608a20.75 20.75 0 0 1 0-4Zm1.732-1.5h5.845c-.19-.97-.458-1.837-.779-2.56-.336-.756-.718-1.323-1.103-1.69-.382-.363-.732-.5-1.04-.5-.308 0-.658.137-1.04.5-.385.367-.767.934-1.103 1.69-.321.723-.588 1.59-.78 2.56Zm7.577 1.5a20.728 20.728 0 0 1 0 4h3.61a8.52 8.52 0 0 0 .236-2 8.52 8.52 0 0 0-.237-2h-3.609Zm3.094-1.5a8.526 8.526 0 0 0-5.002-4.547c.287.408.543.873.768 1.378.404.91.722 1.985.935 3.169h3.3Zm-12.197 0c.213-1.184.531-2.26.935-3.169.225-.505.48-.97.768-1.378A8.526 8.526 0 0 0 4.252 8.5h3.3Zm7.963 10.169c-.225.505-.48.97-.768 1.378a8.526 8.526 0 0 0 5.002-4.547h-3.3c-.212 1.184-.53 2.26-.934 3.169Z" 
                                    fill="currentColor">
                                </path>
                        </svg>
                        <p class="w-full flex flex-col p-2 pr-3">
                            <strong class="text-sm">United States</strong>                            
                            <a 
                                class="font-light text-xs"
                                href="#"
                            >
                                English
                            </a>
                        </p>
                    </div>
                </li>                
            </ul>
        </navc>
    <dialog/>

    <div
        id="menu-backdrop"
        class="
                absolute bg-black/5 backdrop-blur-lg rounded-lg 
                translate-x-[var(--left)] translate-y-[var(--top)]
                left-0 top-0
                w-[var(--width)] h-[var(--height)]
                transition-transform duration-500
                ease-in-out opacity-0 -z-10
            "
    />
</header>
<script>
    const openModal = document.querySelector('[data-open-modal]') as HTMLElement
    const closeModal = document.querySelector('[data-close-modal]') as HTMLElement
    const modal = document.querySelector('[data-modal]') as HTMLDialogElement

    openModal.addEventListener('click', () => {
        modal.showModal()        
        modal.classList.add('opacity-100', '-translate-x-0')
        modal.classList.remove('opacity-0', 'translate-x-80')
    })
    closeModal.addEventListener('click', () => {
        modal.classList.remove('opacity-100', '-translate-x-0')
        modal.classList.add('opacity-0', 'translate-x-80')
        setTimeout(() => {
            modal.close()            
        }, 300);
    })

</script>