<nav>
    <ul class="flex text-sm flex-grow basis-0 justify-end [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:transition-colors [&>li>a]:duration-500">
        <li class="max-xl:hidden"><a href="#">Shop</a></li>
        <li class="max-xl:hidden"><a href="#">Account</a></li>
        <li 
            class="max-xl:bg-black/5 max-xl:backdrop-blur-lg max-xl:rounded-lg"
            data-open-modal
        >
            <a href="#">Menu</a></li>
    </ul>
</nav>